<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chessil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/chesslogo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chesslogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChessIL">
        <activity
            android:name=".ChessBoard"
            android:exported="false"
            android:label="@string/title_activity_chess_board"
            android:theme="@style/Theme.ChessIL.NoActionBar" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>